{{#with cookie}}
    <div class="cookie-preview" style="background-image: {{#each addons}}url('/assets/images/cookies/{{this}}.png'),{{/each}} url('/assets/images/cookies/{{glaze}}.png'), url('/assets/images/cookies/empty-{{base}}.png')"></div>
{{/with}}
