{{# with cookieData}}
    <div class="cookie-preview" style="background-image: {{#each addons}}url('/assets/images/cookies/{{this}}.png'),{{/each}} {{#if glaze}}url('/assets/images/cookies/{{glaze}}.png'),{{/if}} url('/assets/images/cookies/empty-{{base}}.png')"></div>
{{/with}}

