<div class="block-vs">
        <input class="class-input form-control" placeholder="Coupon code" />
        <button class="class-button form-control">
            <i class='bx bx-save'></i>
        </button>
</div>
