<div class="button-box">
    <a href="/">
        <button class="center-button">
            <i class='bx bx-home center-button-icon'></i>
            <span class="center-button-text">
                  Edit order
            </span>
        </button>
    </a>
</div>
