<div class="button-box">
    <a href="/order/thanks">
        <button class="center-button">
            <i class='bx bxs-basket center-button-icon'></i>
            <span class="center-button-text">
                  Order
            </span>
        </button>
    </a>
</div>
