<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cookie Maker</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">

</head>
<body>

    <header class="header-section">
        <a href="/"><img src="/assets/images/logo.png" alt="Sweet Cookie" class="logo"></a>

        <div class="right-header-box">
            <button class="basket">

                    <i class='bx bx-basket' title="Basket">
                        <div class="pulse1-badge"></div>
                    </i>


            </button>
            <img src="/assets/images/avatar.png" alt="Tomaszenko" class="avatar">
        </div>
    </header>

    <section class="center-section">
        {{{body}}}
    </section>

    <footer class="footer-section">
        <nav class="navigation-section">
            <ul class="nav-list">
                <li class="nav-element">
                    <i class='bx bxs-circle'></i>
                    <p class="nav-element-text" title="About">About</p>
                </li>
                <li class="nav-element">
                    <i class='bx bxs-phone' ></i>
                    <p class="nav-element-text" title="Contact us">Contact us</p>
                </li>
                <li class="nav-element">
                    <i class='bx bx-current-location'></i>
                    <p class="nav-element-text" title="Locations">Locations</p>
                </li>
            </ul>
        </nav>
        <a href="https://github.com/tomaszburas/Cookie-Maker" class="link_github"><i class='bx bxl-github'></i></a>
    </footer>

    <img src="/assets/images/bg-asset1.png" alt="Cookies" class="bg-asset1">

    <script src="/assets/js/app.js"></script>

</body>
</html>
