<div class="summary-center-container">
    <div class="order-box">
        <h1 class="big-txt">Thank you for shopping 🤗</h1>
    </div>
</div>

<script type="module" src="/assets/js/order.js"></script>
