<div class="order-center-container">
    <div class="order-box">
        <h1 class="big-txt">Thank you for shopping 🤗</h1>
    </div>
    <div class="go-home">
        <span class="main-span-go-home">Transfer to the home page will take place in</span>
        <span class="time-span"> 5 s.</span>
    </div>
</div>

<script type="module" src="/assets/js/order.js"></script>
