<div class="center-container">
    {{#if cookieData}}
            {{>cookie-preview}}
        {{else}}
            {{> base-cookie-preview}}
    {{/if}}
    <div class="right-box">
        {{>configurator}}
    </div>
</div>


