@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('./normalize.css');

:root {
    --background: #fcf0ff;
    --font: #3d3d4e;
    --avatar-bg: #f8adbe;
    --basket: #eb002b;
    --primary-color: #77223c;
    --secondary-color: #ef6a20;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-size: .8rem;
    width: 100%;
    height: 100vh;
    margin:0;
    display:flex;
    flex-direction:column;
    font-family: 'Poppins', sans-serif;
}

/*-- HEADER --*/

.header-section {
    display: flex;
    height: 4rem;
    padding: 2.5rem 4rem;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
}

.right-header-box {
    display: flex;
    align-items: center;
}

.logo {
    height: 3rem;
}

.avatar {
    height:1.5rem;
    padding:.5rem;
    background-color: var(--avatar-bg);
    border-radius: 50%;
}

.bx-basket {
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.basket {
    background: transparent;
    box-shadow: 0 0 0 transparent;
    border: 0 solid transparent;
    text-shadow: 0 0 0 transparent;
    margin-right: 2rem;
    color: var(--font);
}

/*-- FOOTER --*/

.footer-section {
    display: flex;
    height: 4rem;
    min-height:4rem;
    padding: 2.5rem 4rem;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.navigation-section {
    display: flex;
}

.nav-list {
    display: flex;
    padding: 0;
}

.nav-element {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.nav-element-text {
    margin-left: .5rem;
    cursor: pointer;
}

.link_github {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bxl-github {
    font-size: 1.5rem;
    cursor: pointer;
}

.bg-asset1 {
    position: absolute;
    bottom: 10%;
    right: 1%;
    height: 10rem;
}

.nav-element .bxs-circle {
    margin-right: 0;
}

/*-- CENTER --*/

.center-section {
    padding: 0 4rem;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-preview {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.base-cookie-preview {
    width: 250px;
    height: 250px;
    background-size: cover;
    /*margin-right: 5rem;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-width: .1rem;
    border-radius: .5rem;
    border-color: var(--avatar-bg);
    font-size: 1.2rem;
    color: var(--primary-color)
}

.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
}

.left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--TABLE--*/

.fixed-width-card {
    padding: 1rem;
    margin: 0 0.5rem;
    line-height: 1;
    border-radius: 0.75rem;
    background: #ffffff;
}

.fixed-width-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.fixed-width-table .add-icon{
    font-size: 1.5rem;
}

.fixed-width-table th {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--secondary-color);
    height: 1.75rem;
}

.fixed-width-table td {
    height: 2rem;
}

.fixed-width-table td:last-child {
    text-align: right;
}

.fixed-width-column {
    width: 12rem;
    min-width: 12rem;
    max-width: 12rem;
    text-align: left;
    display: flex;
    align-items: center;
}

/*-- END TABLE --*/

a {
    text-decoration: none;
    color: var(--font)
}

a:active {
    color: var(--font);
}

.main-text {
    background: var(--avatar-bg);
    padding: .5rem 1rem;
    border-radius: .6rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.main-text-display {
    background: var(--avatar-bg);
    padding: .5rem 1rem;
    border-radius: .6rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    display:none;
}

.bxs-circle {
    font-size: .4rem;
    margin-right:  .5rem;
}

.add-icon {
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.remove-icon {
    color: lightgray;
    font-size: 1.5rem;
    cursor: not-allowed;
}

.pulse1-badge {
    position: absolute;
    width: .6rem;
    height: .6rem;
    top:-.4rem;
    right:-.4rem;
    display: none;
}

.pulse1-badge::before,
.pulse1-badge::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pulse1-badge::before {
    z-index: 1;
    top: 0;
    left: 0;
    background: var(--avatar-bg);
}

@keyframes pulse1 {
    0% {
        opacity: 0.5;
        transform: scale(0.5);
    }
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.pulse1-badge::after {
    z-index: 0;
    top: -4px;
    left: -4px;
    border: 4px solid var(--avatar-bg);
    transform: scale(0.5);
    animation: pulse1 2s infinite;
}

.glaze-add {
    cursor: not-allowed;
}

.addon-add {
    cursor: not-allowed;
}

.alert {
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.alert-text-negative {
    padding: 1rem;
    background-color: var(--avatar-bg);
    border-radius: .6rem;
}

.alert-text-positive {
    padding: 1rem;
    background-color: #b9fbc0;
    border-radius: .6rem;
}

.big-txt {
    background: var(--avatar-bg);
    padding: .5rem 1rem;
    border-radius: .6rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

/*-- BUTTON --*/

.center-button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--primary-color);
    background: var(--avatar-bg);
    border: 0;
    cursor: pointer;
}

.center-button-icon {
    font-size: 1rem;
    background-color: var(--background);
    padding: .3rem;
    border-radius: 0.5rem;
}

.center-button-text {
    font-size: 1rem;
}

.basket-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-center-container {
    display: flex;
    justify-content: center;
}

.summary-box-left {
    margin-right: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.summary-box-right {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.basket-navigation-box {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.order-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coupon-box {
    margin-top:1rem;
}

.form-control {
    border-radius: 0.5rem;
    border:0;
    font-size: 1rem;
    padding: 0.5rem;
}

.class-button {
    color: var(--primary-color);
    background: var(--avatar-bg);
    cursor:pointer;
}

.class-input {
    text-indent: 1rem;
    color: var(--primary-color);
    border: 2px solid var(--avatar-bg);
}

.class-input:focus {
    outline: none;
}

@media screen and (max-width: 850px) {

    .header-section {
        padding: .5rem 1.5rem;
        min-height: 2.5rem;
        position: sticky;
        top:0;
        height: auto;
        background-color: var(--background);
    }

    .center-section {
        padding: 0;
    }

    .footer-section {
        padding: .5rem 1.5rem;
        min-height: 2.5rem;
    }

    .center-container {
        flex-direction: column-reverse;
        margin: 1rem 0;
    }

    .base-cookie-preview {
        margin-right: 0;
    }

    .right-box {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .bg-asset1 {
        display: none;
    }

    .summary-center-container {
        flex-direction: column-reverse;
        margin: 1rem 0;
    }

    .summary-box-right {
        margin-bottom: 2rem;
    }

    .summary-box-left {
        margin-right: 0;
    }

    .basket-navigation-box {
        justify-content: center;
    }

    .button-box:first-child {
        margin-right: 1rem;
    }

    .alert {
        top: 20%;
    }

    .main-text-display {
        display:flex;
    }

    .logo {
        height: 2rem;
    }

    .avatar {
        height:1.5rem;
        padding:.4rem;
    }

    .bx-basket {
        font-size: 1.5rem;
    }

    .basket {
        margin-right: 1rem;
    }

}

@media screen and (max-width: 600px) {
    .avatar {
        height:1.2rem;
        padding:.4rem;
    }

    .bx-basket {
        font-size: 1.2rem;
    }

    .nav-element-text {
        margin-left: .3rem;
    }

    .nav-element {
        margin-right: 1rem;
        font-size: .6rem;
    }

    .bx-basket {
        z-index: 0;
    }

}
