@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "/normalize.css";

:root {
    --background: #fcf0ff;
    --font: #3d3d4e;
    --avatar-bg: #f8adbe;
    --basket: #eb002b;

    --primary-color: #77223c;
    --secondary-color: #ef6a20;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-size: .8rem;
    width: 100%;
    height: 100vh;
    margin:0;
    display:flex;
    flex-direction:column;
    font-family: 'Poppins', sans-serif;
}

/*-- HEADER --*/

.header-section {
    display: flex;
    height: 4rem;
    padding: 2.5rem 4rem;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
}

.right-header-box {
    display: flex;
    align-items: center;
}

.logo {
    height: 3rem;
}

.avatar {
    height:1.5rem;
    padding:.5rem;
    background-color: var(--avatar-bg);
    border-radius: 50%;
}

.bx-basket {
    font-size: 1.5rem;
    cursor: pointer;
}

.basket {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin-right: 2rem;
    color: var(--font);
}

/*-- FOOTER --*/

.footer-section {
    display: flex;
    height: 4rem;
    min-height:4rem;
    padding: 2.5rem 4rem;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

}

.navigation-section {
    display: flex;
}

.nav-list {
    display: flex;
    padding: 0;
}

.nav-element {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.nav-element-text {
    margin-left: .5rem;
    cursor: pointer;
}

.link_github {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bxl-github {
    font-size: 1.5rem;
    cursor: pointer;
}

.bg-asset1 {
    position: absolute;
    bottom: 15%;
    right: 1%;
    height: 12rem;
}

.bg-asset2 {
    position: absolute;
    top: 15%;
    left: 1%;
    height: 12rem;
}

/*-- CENTER --*/

.center-section {
    padding: 0 4rem;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-preview {
    width: 250px;
    height: 250px;
    background-size: cover;
    margin-right: 5rem;
}

.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*NOWE*/

.block.fixed-widths {
    /*background: #5e2aab;*/
}

.fixed-width-card {
    padding: 1rem;
    margin: 0 0.5rem;
    line-height: 1;
    border-radius: 0.75rem;
    background: #ffffff;
    /*color: #45424d;*/
}

.fixed-width-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.fixed-width-table .material-icons {
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.fixed-width-table th {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--secondary-color);
    height: 1.75rem;
}

.fixed-width-table td {
    height: 2rem;
}

.fixed-width-table td:last-child {
    text-align: right;
}

.fixed-width-table--middle td {
    fixed-width: top;
}

.fixed-width-column {
    width: 12rem;
    min-width: 12rem;
    max-width: 12rem;
    text-align: left;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.main-text {
    background: var(--avatar-bg);
    padding: .5rem 1rem;
    border-radius: .6rem;
    color: var(--primary-color);
}

.bxs-circle {
    font-size: .4rem;
    margin-right:  .5rem;
}
